PORT=8080
NODE_ENV=development


DATABASE_URL=mysql://app:app@localhost:3306/collabnet
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=app
DATABASE_PASSWORD=app
DATABASE_NAME=collabnet

ACCESS_TOKEN_SECRET=your-access-token-secret
REFRESH_TOKEN_SECRET=your-refresh-token-secret
ACCESS_TOKEN_EXPIRES_IN=30m
REFRESH_TOKEN_EXPIRES_IN=7d

URL_FRONTEND=http://localhost:5173

AWS_REGION=ap-southeast-1
AWS_S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

REDIS_URL=redis://localhost:6379

RESEND_API_KEY=
